{{- $id := trim ($.Get "id") " \n\r\t" }}
{{- if not $id }}
  {{ errorf "youtube shortcode: parâmetro 'id' é obrigatório" }}
{{- end }}
{{- $title := $.Get "title" | default "YouTube video player" }}

<div style="width:100%;aspect-ratio:16/9;margin:1.5rem 0;">
  <iframe
    src="https://www.youtube.com/embed/{{ $id }}"
    title="{{ $title }}"
    frameborder="0"
    style="width:100%;height:100%;"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen>
  </iframe>
</div>
